/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   
#container {
	text-align: center;
}

.abutton {
	background-color: #386FCF;
	color: white;
	padding: 2em;
}

#start {
	margin: 4em;
}